div{
    height: 200px; 
    width: 200px;
    background-color: brown;
    margin: 5px auto;
    border: 5px solid black;
    border-radius: 50%;
    /* display: inline; */
    display: inline-block;


}
.inner:hover{
background-color: darkslategray;
/* border-radius: 75%; */
display: block;
/* display: none; */
}
/* h2{
    height: 100px;
    width: 200px;
    text-align: center;
    font-size: 5px;
    border: 5px solid yellow;
} */
li{
    display: block;
    /* display: inline; */
    /* display: none; */
    /* display: inline-block; */
    /* width: 33.33%; */
    margin: 10px auto;
    text-align: center;
    font-weight: bold;
    /* font-size: 2em; */
    font-size: 2rem;
}